---
import { ThemeToggle } from "@/components/starwind/theme-toggle";
import Logo from "@/icons/logo.svg";
import { siteMeta } from "@/lib/site-data";
---

<header class="bg-accent sticky inset-x-0 top-0 z-50 w-full">
  <nav
    class="relative mx-auto flex w-full flex-wrap justify-between items-center px-4 py-2 md:px-6 lg:px-8"
  >
    <div>
      <a href="/" aria-label="The Society for the Innocents logo">
        <Logo class="h-auto size-20 md:size-30" />
        <span class="sr-only">{siteMeta.title}</span>
      </a>
    </div>
    <ThemeToggle />
  </nav>
</header>